<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 mx-3 mt-5">
  <div class="card text-center">
    <div class="card-header">
      <img src="/logo/logoDW.jpeg" alt="logo cabeza darth vather" width="100px" height="100px"/>
    </div>
    <div class="card-body">
      <h5 class="card-title">Register</h5>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input formControlName="email" type="email" class="form-control" id="email">
    <div *ngIf="registerForm.controls.email.invalid && (registerForm.controls.email.touched || registerForm.controls.email.dirty)">
      <small *ngIf="registerForm.controls.email.errors?.['required']">El correu electrònic és obligatori.</small>
      <small *ngIf="registerForm.controls.email.errors?.['email']">Introdueix un correu electrònic vàlid.</small>
    </div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input formControlName="password" type="password" class="form-control" id="password">
    <div *ngIf="registerForm.controls.email.invalid && (registerForm.controls.email.touched || registerForm.controls.email.dirty)">
      <small *ngIf="registerForm.controls.email.errors?.['required']">El correu electrònic és obligatori.</small>
      <small *ngIf="registerForm.controls.email.errors?.['email']">Introdueix un correu electrònic vàlid.</small>
    </div>
</div>
<div>
  <button type="submit" class="btn btn-warning" [disabled]="registerForm.invalid">Registrar-se</button>
</div>
  <div class="containerLogin mt-3">
    <a routerLink="/login">Ets membre? Ves a Login</a>
  </div>
</form>
</div>
</div>
</div>
</div>

