
.background-container{
  background-color:black;
}

#background{
  background-color: grey;
}
h2{
  color: white;
}
h1{
  color:yellow;
}

 datos-container{
  margin-top: 20px;
  padding-top: 30px;
}

#datos,
#datos2{
  background-color: grey;
}

img{
  position: relative;
}
