.background-container {
  background-image: url('/assets/star-wars-spaceship.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

h2{
  color: white;
}
h1{
  color:yellow;
}

 datos-container{
  margin-top: 20px;
  padding-top: 30px;
}

#datos,
#datos2{
  border: 2px white solid;
  background-color: white;
}
