.starships-container{
  background-color: black;
}

.list-group-item{
  list-style: none;
  background-color: rgba(90, 90, 90, 0.3);
  color: white;
}

.btn.btn-warning{
  border-color: white;
  color:black;
}
