<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid d-flex justify-content-around" id="containerGeneral">
    <ul class="d-flex justify-content-center" id="xarxesSocials">
      <li><i class="bi bi-facebook"></i></li>
      <li><i class="bi bi-twitter-x"></i></li>
      <li><i class="bi bi-instagram"></i></li>
      <li><i class="bi bi-tiktok"></i></li>
      <li><i class="bi bi-youtube"></i></li>
    </ul>
    <a class="navbar-brandr" href="#">
      <img src="/logo/logo-starwars-transp.png">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul>
        <li class="nav-item">
          <a class="nav-link" href="#">Iniciar sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cerrar sesión</a>
        </li>
      </ul>
    </div>
</nav>
