<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid d-flex justify-content-around" id="containerGeneral">
    <ul class="d-flex justify-content-center" id="xarxesSocials">
      <li><i class="bi bi-facebook"></i></li>
      <li><i class="bi bi-twitter-x"></i></li>
      <li><i class="bi bi-instagram"></i></li>
      <li><i class="bi bi-tiktok"></i></li>
      <li><i class="bi bi-youtube"></i></li>
    </ul>
    <a class="navbar-brandr">
      <img src="/logo/logo-starwars-transp.png">
    </a>
    <ul id="containerSesion">
      <a *ngIf="!userLoginOn" routerLink="/login">Iniciar sessió</a>
      <a *ngIf="userLoginOn" (click)="logout()">Tancar sessió</a>
      </ul>
    </div>
</nav>

