<div class="container-flex d-flex justify-content-center">
<mat-card class="example-card" appearance="outlined">
  <mat-card-header class="mat-card-header">
    <div class="logo-container">
      <img src="/logo/logoDW.jpeg" alt="logo cabeza darth vader" width="100px" height="100px">
    </div>
    <mat-card-title>Autentificación</mat-card-title>
  </mat-card-header>
  <mat-card-content>
<ng-container>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <label>Email:</label>
      <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
      @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
        <mat-error>Please enter a valid email address</mat-error>
      }
      @if (emailFormControl.hasError('required')) {
        <mat-error>Email is <strong>required</strong></mat-error>
      }
    </mat-form-field>
  </form>
  <mat-form-field>
    <label>Password:</label>
    <input matInput [type]="hide() ? 'password' : 'text'" />
    <button
      mat-icon-button
      matSuffix
      (click)="clickEvent($event)"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide()"
    >
      <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
  </mat-form-field>
</ng-container>

  </mat-card-content>
  <mat-card-footer class="example-card-footer">
<mat-chip-set>
  <button mat-stroked-button (click)="login()">Login</button>
</mat-chip-set>
  </mat-card-footer>



