
div {
  margin: 0px;
  padding: 10px;
  display: flex;
  justify-content: end;
  background-color:#f0ad4e;
}

/* Estil per al mat-tab-group */
.mat-tab-group {
  background-color: black; /* Fons negre */
  color: white;
  margin-bottom: 48px; /* Text blanc */
}


